fastapi
uvicorn
pydantic
psycopg2-binary
pydantic-settings
python-dotenv
fastapi-login
requests
pymilvus
pytest
SQLAlchemy
bcrypt

annotated-types
async-generator
attrs
cffi
click
colorama
dnspython
email-validator
exceptiongroup
greenlet
h11
idna
mypy-extensions
mypy
outcome
passlib[bcrypt]
pycparser
pyjwt
python-multipart
sniffio
sortedcontainers
sqlalchemy-stubs
tomli
typing-extensions